h1{
    color: darkblue;
    font-size: 40px;
    font-family: cursive;
}
h2{
    color: rgb(186, 133, 235);
    font-size: 20px;

}
li{
    display: inline;
    padding:14px 16px ;
    text-align: center;
    text-decoration: none;
    border-right:1px solid rgb(14, 13, 13);
}
img{
    float: right;
    
}
ul{
   list-style-type: none;
   margin:0px ;
   padding: 0px;
   overflow: hidden;
   background-color: rgb(231, 230, 198);
}
li a:hover { 
    background-color: rgb(83, 168, 248);
    } /*cambia el color al pasar el mause*/
.Activo{
    background-color: rgb(180, 233, 128);
}
.Reg{
    float: right;
}